<div class="col-12">
  <div class="panel">
    <div class="panel_title_bar">
      <h4>Últimas atualizações</h4>

      <i class="material-icons md-24 md-light">settings</i>
    </div>
    <% Array(3).fill().forEach((num) => { %>

    <div class="row p-0 m-1">
      <div class="col px-2 py-2 m-1 update">
        <div class="update_info">
          <a href="#" class="update_title">
            <%= faker.fake("{{lorem.words}}?") %>
          </a>

          <span class="update_timestamp">
            <%= new Date(faker.date.past()).toLocaleString() %>, x horas atrás.
          </span>
        </div>

        <div class="two_line_text update_content">
          <%= faker.lorem.paragraphs() %>
        </div>
      </div>

      <div class="col px-2 py-2 m-1 update">
        <div class="update_info">
          <a href="#" class="update_title">
            <%= faker.fake("{{lorem.words}}?") %>
          </a>

          <span class="update_timestamp">
            <%= new Date(faker.date.past()).toLocaleString() %>, x dias atrás.
          </span>
        </div>

        <div class="two_line_text update_content">
          <%= faker.lorem.paragraphs() %>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>

<link rel="stylesheet" href="/css/operator/home/_updates.css" />
