<%- contentFor('title') %>
Dashboard

<%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%> <%- include("./_dashboard.ejs")%>
</div>
