<%- contentFor('title') %> Subcategoria <%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%> <%- include("../../shared/_path.ejs", { path:
  ['Home', 'TI'] } )%>

  <main>
    <%- include("./_category_description.ejs") %> <%-
    include("./_subcategories.ejs") %>
  </main>
</div>

<link rel="stylesheet" href="/css/user/home.css" type="text/css" />
<link rel="stylesheet" href="/css/user/subcategory.css" type="text/css" />
