<tr>
  <td>
    <input type="checkbox" />
  </td>

  <td>
    <%= faker.random.number() %>
  </td>

  <td>
    <%= faker.fake("{{lorem.words}}?") %>
  </td>

  <td>Infraestrutura</td>

  <td>
    <span class="user_column">
      <img
        class="user_column_avatar"
        src="<%= faker.internet.avatar() %>"
      />

      <span class="user_column_info">
        <a href="#">
          <%= faker.name.findName() %>
        </a>

        <span><%= faker.fake("{{name.jobTitle}} | {{name.jobArea}}") %></span>
      </span>
    </span>
  </td>

  <td>
    <span class="user_column">
      <img
        class="user_column_avatar"
        src="<%= faker.internet.avatar() %>"
      />

      <span class="user_column_info">
        <a href="#">
          <%= faker.name.findName() %>
        </a>

        <span><%= faker.fake("{{name.jobTitle}} | {{name.jobArea}}") %></span>
      </span>
    </span>
  </td>

  <td>Alta</td>

  <td>
    <%= new Date(faker.date.past()).toLocaleDateString() %>
  </td>

  <td>Atendido</td>

  <td><i class="material-icons md-24 md-dark">more_horiz</i></td>
</tr>
