<!DOCTYPE html>
<html lang="en">
<%- include("../shared/_head.ejs", { title: 'Operador' })%>

<body>
  <%- include("_sidenav.ejs")%>
  <div class="contentContainer">
    <%- include("_headbar.ejs")%>
  </div>
  <nav>
    <%- include("../shared/_path.ejs")%>
  </nav>
  <main class="operatorMain" id="operatorMain">
    <%- include("_filaChamado.ejs")%>
  </main>
</body>

</html>