<div class="col-12 user">
  <div class="user_info">
    <img class="user_avatar" src="<%= faker.internet.avatar() %>" alt="user" />

    <div class="user_description">
      <div class="user_description_column">
      <a href="/operator/users/edit/<%= operator.id %>"><%= operator.first_name + ' ' + operator.last_name %></a>
        <span><%= operator.operator_organization.name %></span>
      </div>

      <div class="user_description_column">
        <span><%= operator.email %></span>
        <span><%= operator.cellphone_number %></span>
      </div>

      <div class="user_description_column">
        <span><%= operator.operator_job.name %></span>
        <span><%= operator.operator_job.seniority %></span>
      </div>
    </div>
  </div>

  <div class="actions">
    <a href="/operator/users/edit/<%= operator.id %>"><i class="material-icons md-36">edit</i></a>
    <i class="material-icons md-36 md-danger">delete</i>
  </div>
</div>
