<%- contentFor('title') %> Operador <%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%>
  
  <main class="operatorMain" id="operatorMain">
    <%- include("./ticket_open.ejs")%>
  </main>
</div>

<link rel="stylesheet" href="/css/operator/ticket_open.css" />
