<section class="col-10">
  <div class="row">
    <%- include("./_service.ejs", { title: 'Acessos', icon: 'vpn_key' }) %>
    <%- include("./_service.ejs", { title: 'Desenvolvimento', icon: 'code' }) %>
    <%- include("./_service.ejs", { title: 'Redes', icon: 'signal_wifi_4_bar' }) %>
    <%- include("./_service.ejs", { title: 'Field', icon: 'computer' }) %>
    <%- include("./_service.ejs", { title: 'Suporte', icon: 'headset_mic' }) %>
    <%- include("./_service.ejs", { title: 'BI', icon: 'school' }) %>
  </div>

  <div class="row">
    <%- include("./_service.ejs", { title: 'Infraestrutura', icon: 'settings_input_component' }) %>
    <%- include("./_service.ejs", { title: 'Backoffice', icon: 'smartphone' }) %>
    <%- include("./_service.ejs", { title: 'Telefonia', icon: 'phone_enabled' }) %>
    <%- include("./_service.ejs", { title: 'Telefonia Móvel', icon: 'signal_cellular_alt' }) %>
    <%- include("./_service.ejs", { title: 'Email', icon: 'mail_outline' }) %>
    <%- include("./_service.ejs", { title: 'Servidores', icon: 'cloud_circle' }) %>
  </div>

  <div class="row">
    <%- include("./_service.ejs", { title: 'Ramais/VOIP', icon: 'call_split' }) %>
    <%- include("./_service.ejs", { title: 'Impressoras', icon: 'print' }) %>
    <%- include("./_service.ejs", { title: 'Scanners', icon: 'scanner' }) %>
    <%- include("./_service.ejs", { title: 'Biometria', icon: 'fingerprint' }) %>
    <%- include("./_service.ejs", { title: 'Som', icon: 'speaker' }) %>
    <%- include("./_service.ejs", { title: 'TVs e Monitores', icon: 'tv' }) %>
  </div>
</section>

<link rel="stylesheet" href="/css/user/shared/_services.css" />
