<%- contentFor('title') %>
Home

<%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%>

  <nav>
    <%- include("../../shared/_path.ejs", { crumbs: [
      { path: '/user', name:'Home' },
      { path: '/user/category', name:'TI' },
    ] } )%>
  </nav>
  
  <h3 class="user_guide">
    Selecione a categoria do seu chamado...
  </h3>
  
  <main class="user_main">
    <div class="menu_container">
      <%- include("./_services.ejs") %>

      <%- include("./_misc_information.ejs") %>
    </div>
  </main>
</div>

<link rel="stylesheet" href="/css/user/styles.css" />
<link rel="stylesheet" href="/css/user/home/styles.css" type="text/css" />
