<%- contentFor('title') %> Listagem de Chamados <%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%>

  <nav>
    <%- include("../../shared/_path.ejs", { crumbs: [ {path: '/user',
    name:'Home'}, {path: '/user/subcategory', name:'TI'} ] } )%>
  </nav>

  <main id="ticketListMain">
    <div id="ticketListHeader">
      <h2>Meus Chamados em Aberto</h2>
      <div id="filter">
        <span>filtro</span>
        <i class="material-icons md-36 md-ligth">keyboard_arrow_down</i>
      </div>
    </div>
    <ul id="ticketList">
      <% if(tickets.length > 0) { %> <% tickets.forEach(ticket => { %>
      <li>
        <img src="/img/ti-bg.jpg" alt="ti" />
        <div id="ticketInfo">
          <h2><%= ticket.title %></h2>
          <p><%= ticket.description %></p>
        </div>
        <div id="date"><%= ticket.updatedAt %></div>
        <div id="status">Status <%= ticket.status %></div>
      </li>
      <% }) %> <% } else { %>
      <h1>Nao tem tickets aqui :(</h1>
      <% } %>
    </ul>
  </main>
</div>

<link rel="stylesheet" href="/css/user/styles.css" />
<link rel="stylesheet" href="/css/user/home/styles.css" type="text/css" />
<link
  rel="stylesheet"
  href="/css/user/subcategory/styles.css"
  type="text/css"
/>
<link rel="stylesheet" href="/css/user/tickets/styles.css" type="text/css" />
