<%- contentFor('title') %>
Operador

<%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>

<div class="contentContainer">
  <%- include("../_headbar.ejs")%>

  <nav>
    <%- include("../../shared/_path.ejs", { crumbs: [
      { path: '/operator', name:'Home' }, 
      { path: '/operator/tickets', name:'Redes e Servidores' }
    ] })%>
  </nav>

<<<<<<< HEAD:src/views/operator/tickets/index.ejs
  <main class="operatorMain">
    <%- include("./_top_priority_tickets.ejs") %> 
    <%- include("./_all_tickets_table.ejs") %>
=======
  <main class="operatorMain" id="operatorMain">
    <%- include("./ticket_list.ejs")%>
>>>>>>> ticket_open_operator:src/views/operator/ticket_list/index.ejs
  </main>
</div>

<link rel="stylesheet" href="/css/operator/ticket_list.css" />
