<%- contentFor('title') %> Home <%- contentFor('body') %> <%-
include("../_sidenav.ejs")%>
<div class="contentContainer">
  <%- include("../_headbar.ejs")%> <%- include("../../shared/_path.ejs", { path:
  [ 'Home', 'IT', 'Acessos', 'Redes e Conectividade - WiFi'] } )%>
  <main>
    <h1>Redes e Conectividade - WiFi</h1>
    <section class="contentRow">
      <div class="sectionDivision">
        <h3 id="userName">Solicitante</h3>
        <ul id="userData">
          <li>
            <p class="property">Nome</p>
            <p>Laercio Candido</p>
          </li>
          <li>
            <p class="property">Unidade</p>
            <p>XYZ</p>
          </li>
          <li>
            <p class="property">N de tel</p>
            <p>62987213723</p>
          </li>
          <li>
            <p class="property">E-mail</p>
            <p>kallebegomes18@gmail.com</p>
          </li>
          <li>
            <p class="property">Departamento</p>
            <p>#N/A</p>
          </li>
          <li>
            <p class="property">Localidade</p>
            <p>Goiânia - GO</p>
          </li>
          <li>
            <p class="property">Especificação</p>
            <p>~</p>
          </li>
          <li>
            <p class="property">Cidade</p>
            <p>São Paulo</p>
          </li>
        </ul>
      </div>
      <div id="ticketWiki">
        <h2>Items mais vistos</h2>
        <div>
          <ul>
            <li>
              <h3>Titulo do item</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                voluptatem itaque voluptatum necessitatibus ipsam pariatur ipsum
                commodi, eaque sint porro hic quis aliquam atque nisi quae,
                provident eos quia nesciunt.
              </p>
            </li>
            <li>
              <h3>Titulo do item</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                voluptatem itaque voluptatum necessitatibus ipsam pariatur ipsum
                commodi, eaque sint porro hic quis aliquam atque nisi quae,
                provident eos quia nesciunt.
              </p>
            </li>
            <li>
              <h3>Titulo do item</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                voluptatem itaque voluptatum necessitatibus ipsam pariatur ipsum
                commodi, eaque sint porro hic quis aliquam atque nisi quae,
                provident eos quia nesciunt.
              </p>
            </li>
            <li>
              <h3>Titulo do item</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                voluptatem itaque voluptatum necessitatibus ipsam pariatur ipsum
                commodi, eaque sint porro hic quis aliquam atque nisi quae,
                provident eos quia nesciunt.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <h2>Informações do Chamado</h2>
    <section class="contentRow">
      <div class="sectionDivision">
        <form action="#" method="POST">
          <input type="text" placeholder="Título *" />
          <input type="text" placeholder="Disponibilidade *" />
          <input type="text" placeholder="Tipo de chamado *" />
          <input type="text" placeholder="Nome da empresa (Terceiro)" />
          <input type="text" placeholder="CNPJ" />
          <input type="text" placeholder="Usuário de Rede *" />
          <textarea placeholder="Ticket message" name="" id="" cols="30" rows="10"></textarea>
          <button>Anexar arquivo</button>
          <button>Compartilhar solicitação</button>
          <button>SUBMIT</button>
        </form>
      </div>
    </section>
  </main>
</div>
<link rel="stylesheet" href="/css/user/ticket_open.css" />
