<%- contentFor('title') %> Telas <%- contentFor('body') %> <%-
include('./_header')%>

<div class="container-fluid">
  <div class="container-fluid">
    <h1 class="mt-3 ml-3">Telas de Acessos</h1>
    <section class="card-deck">
      <%- include('./_access_cards')%>
    </section>

    <h1 class="mt-3 ml-3">Telas de Usuario</h1>
    <section class="card-deck">
      <%- include('./_user_cards')%>
    </section>

    <h1 class="mt-3 ml-3">Telas de Operador</h1>
    <section class="card-deck">
      <%- include('./_operator_cards')%>
    </section>
  </div>
</div>
<!-- STYLE -->
<link rel="stylesheet" href="/css/access/styles.css" type="text/css" />
<link rel="stylesheet" href="/css/shared/home.css" type="text/css" />
